##  데이터 불러오기
read_XXX 을 주로 사용한다.  
read_csv : csv에서 데이터 불러오기
read_html : html에서 데이터 불러오기
read_json : json에서 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

flight = pd.read_csv("Clean_Dataset.csv")
flight.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

## 데이터 저장하기
to_csv : 데이터를 csv로 저장할 떄 사용

In [2]:
a2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
a2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
a2.to_csv('./result_a2.csv')

In [6]:
result = pd.read_csv('result_a2.csv', encoding='cp949')
result

   Unnamed: 0  0  1  2
0           0  1  2  3
1           1  4  5  6
2           2  7  8  9

## 기존 데이터로 부터 새로운 데이터프레임 구성하기
pd.read_csv로 불러올 때, index를 무엇으로 할지, 어떤 column을 사용할 지 결정지어서 불러올 수 있다.  
usecols에는 index_col을 반드시 포함해야 한다. (포함하지 않는다면 어폐가 생기기 때문.)

In [7]:
flight2 = pd.read_csv('Clean_Dataset.csv', index_col = 'stops', usecols=['stops','departure_time','arrival_time','destination_city'])
flight2

      departure_time   arrival_time destination_city
stops
zero         Evening          Night           Mumbai
zero   Early_Morning        Morning           Mumbai
zero   Early_Morning  Early_Morning           Mumbai
zero         Morning      Afternoon           Mumbai
zero         Morning        Morning           Mumbai
...              ...            ...              ...
one          Morning        Evening        Hyderabad
one        Afternoon          Night        Hyderabad
one    Early_Morning          Night        Hyderabad
one    Early_Morning        Evening        Hyderabad
one          Morning        Evening        Hyderabad

[300153 rows x 3 columns]

## 범주형 데이터 비교 분석하기
crosstab  
아래 예시는, 도착 도시에 대해서 도착 시간에 맞는 항공편이 몇개가 있는지를 보여주고 있다.

In [8]:
pd.crosstab(index = flight.source_city, columns = flight.arrival_time)

arrival_time  Afternoon  Early_Morning  Evening  Late_Night  Morning  Night
source_city
Bangalore          6992           3154    14493        2673    10411  14338
Chennai            5152           1606    10830        1999     7106  12007
Delhi              8007           5262    14630        2143    13007  18294
Hyderabad          4816           1581    10539        2092     8854  12924
Kolkata            5941           2156    11304        2414     9595  14937
Mumbai             7231           1658    16527        2680    13762  19038